<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" android:versionCode="116" android:versionName="2.0.5" package="to.being.now" platformBuildVersionCode="32" platformBuildVersionName="12">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="32" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="BIND_GET_INSTALL_REFERRER_SERVICE" />
	<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.front" android:required="false" />
	<queries>
		<package android:name="com.whatsapp" />
		<package android:name="com.instagram.android" />
		<package android:name="com.facebook.katana" />
		<package android:name="com.facebook.orca" />
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="https" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="http" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="https" />
		</intent>
		<package android:name="com.huawei.appmarket" />
	</queries>
	<queries>
		<intent>
			<action android:name="android.intent.action.SEND" />
			<data android:mimeType="image/jpeg" />
		</intent>
	</queries>
	<supports-screens android:largeScreens="false" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="false" />
	<uses-permission android:maxSdkVersion="28" android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
	<permission android:name="to.being.now.batch.permission.INTERNAL_BROADCAST" android:protectionLevel="signature" />
	<uses-permission android:name="to.being.now.batch.permission.INTERNAL_BROADCAST" />
	<application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:fullBackupContent="@xml/instabug_backup_exclusion" android:icon="@mipmap/ic_launcher_v3" android:isSplitRequired="true" android:label="@string/app_name" android:largeHeap="true" android:name="to.being.BaseApplication" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
		<activity android:exported="true" android:launchMode="singleTask" android:name="to.being.distressscale.DistressScaleParentActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustResize" />
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="to.being.profile.ProfileActivity" android:screenOrientation="portrait" android:theme="@style/FullscreenTheme" android:windowSoftInputMode="adjustPan" />
		<meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="face" />
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
		<meta-data android:name="delivery_metrics_exported_to_big_query_enabled" android:value="true" />
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_being_white" />
		<meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme" />
		<activity android:exported="true" android:name="com.facebook.CustomTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/fb_login_protocol_scheme" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="cct.to.being.now" android:scheme="fbconnect" />
			</intent-filter>
		</activity>
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="to.being.activities.SplashActivity" android:screenOrientation="portrait" android:theme="@style/FullscreenTheme" android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="to.being.now" android:pathPrefix="/im" android:scheme="https" />
				<data android:host="to.being.now" android:pathPrefix="/playlist" android:scheme="https" />
				<data android:host="being.sng.link" android:pathPrefix="/Ccfuu/p8vj" android:scheme="https" />
				<data android:host="beingapp" android:scheme="app" />
			</intent-filter>
		</activity>
		<activity android:exported="true" android:launchMode="singleTask" android:name="to.being.arch.view.home.HomeActivity" android:screenOrientation="portrait" android:theme="@style/FullscreenTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="to.being.now" android:pathPrefix="/home" android:scheme="https" />
				<data android:host="beingapp" android:scheme="app" />
			</intent-filter>
		</activity>
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="to.being.activities.OnboardingActivity" android:screenOrientation="portrait" android:theme="@style/FullscreenTheme" android:windowSoftInputMode="stateHidden" />
		<activity android:launchMode="singleTask" android:name="to.being.activities.SessionActivity" android:parentActivityName="to.being.arch.view.home.HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden" />
		<activity android:launchMode="singleTask" android:name="to.being.session.BeingSessionActivity" android:screenOrientation="portrait" />
		<activity android:launchMode="singleTask" android:name="to.being.session.PollyBeingSessionActivity" android:screenOrientation="portrait" />
		<activity android:exported="true" android:launchMode="singleTask" android:name="to.being.session.SessionDetailActivity" android:parentActivityName="to.being.arch.view.home.HomeActivity" android:screenOrientation="portrait" android:theme="@style/FullscreenTheme" android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="to.being.now" android:pathPrefix="/im" android:scheme="https" />
				<data android:host="beingapp" android:scheme="app" />
			</intent-filter>
		</activity>
		<activity android:launchMode="singleTask" android:name="to.being.session.feedback.FeedbackActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
		<activity android:launchMode="singleTask" android:name="to.being.arch.view.home.NowActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
		<activity android:launchMode="singleTask" android:name="to.being.arch.view.home.PlaylistActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="to.being.activities.UniverseActivity" android:parentActivityName="to.being.arch.view.home.HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden" />
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="to.being.activities.FeelingsActivity" android:parentActivityName="to.being.arch.view.home.HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden" />
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="to.being.activities.DialoguePieceActivity" android:parentActivityName="to.being.arch.view.home.HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden" />
		<receiver android:exported="true" android:name="androidx.media.session.MediaButtonReceiver">
			<intent-filter android:priority="1000">
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>
		<service android:enabled="true" android:exported="true" android:foregroundServiceType="0x2" android:name="to.being.service.MusicLiveService" android:permission="android.permission.FOREGROUND_SERVICE" android:stopWithTask="true">
			<intent-filter android:priority="1000">
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</service>
		<service android:enabled="true" android:exported="true" android:name="to.being.service.BeingMessagingService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<service android:exported="true" android:name="to.being.service.DownloadService" />
		<service android:enabled="true" android:exported="true" android:name="to.being.service.FloatingWidgetService" />
		<service android:exported="false" android:name="io.intercom.android.sdk.fcm.IntercomFcmMessengerService">
			<intent-filter android:priority="-400">
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>
		<activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="io.intercom.android.sdk.activities.IntercomMessengerActivity" android:theme="@style/Intercom_PanelTheme" android:windowSoftInputMode="adjustResize|stateUnchanged" />
		<activity android:configChanges="orientation|screenSize" android:exported="false" android:name="io.intercom.android.sdk.lightbox.LightBoxActivity" android:theme="@style/Intercom_LightBoxTheme" android:windowSoftInputMode="adjustResize|stateUnchanged" />
		<activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="io.intercom.android.sdk.activities.IntercomPostActivity" android:theme="@style/Intercom_PostTheme" android:windowSoftInputMode="stateHidden" />
		<activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="io.intercom.android.sdk.post.PostActivityV2" android:theme="@style/Intercom_PostTheme" android:windowSoftInputMode="stateHidden" />
		<activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="io.intercom.android.sdk.activities.IntercomNoteActivity" android:theme="@style/Intercom_NoteTheme" android:windowSoftInputMode="adjustResize|stateUnchanged" />
		<activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="io.intercom.android.sdk.activities.IntercomSheetActivity" android:theme="@style/Intercom_ModalActivityTheme" android:windowSoftInputMode="stateHidden" />
		<activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTop" android:name="io.intercom.android.sdk.activities.IntercomVideoActivity" android:theme="@style/Intercom_PanelTheme" android:windowSoftInputMode="stateHidden" />
		<activity android:exported="false" android:launchMode="singleTask" android:name="io.intercom.android.sdk.activities.IntercomCarouselActivity" android:screenOrientation="portrait" android:theme="@style/Intercom_CarouselTheme" android:windowSoftInputMode="stateHidden" />
		<activity android:name="io.intercom.android.sdk.helpcenter.collections.IntercomHelpCenterActivity" android:theme="@style/Intercom.BaseMaterial" />
		<activity android:exported="false" android:name="io.intercom.android.sdk.helpcenter.articles.ArticleActivity" android:theme="@style/Intercom.BaseMaterial" android:windowSoftInputMode="stateHidden" />
		<activity android:exported="false" android:name="io.intercom.android.sdk.survey.ui.IntercomSurveyActivity" android:theme="@style/Intercom.BaseMaterial.Compose" android:windowSoftInputMode="adjustResize" />
		<activity android:exported="false" android:name="io.intercom.android.sdk.helpcenter.search.IntercomArticleSearchActivity" android:theme="@style/Intercom.BaseMaterial" />
		<activity android:exported="false" android:name="io.intercom.android.sdk.push.IntercomPushTrampolineActivity" android:theme="@style/Intercom.BaseMaterial.Transparent" />
		<receiver android:exported="false" android:name="io.intercom.android.sdk.push.IntercomPushBroadcastReceiver">
			<intent-filter>
				<action android:name="io.intercom.android.sdk.INTERCOM_PUSH_DISMISSED" />
			</intent-filter>
		</receiver>
		<provider android:authorities="to.being.now.IntercomInitializeContentProvider" android:exported="false" android:name="io.intercom.android.sdk.IntercomInitializeContentProvider" />
		<activity android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:name="com.instabug.survey.ui.SurveyActivity" android:theme="@style/InstabugTranslucentSdkTheme" android:windowSoftInputMode="adjustResize" />
		<activity android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:name="com.instabug.survey.announcements.ui.activity.AnnouncementActivity" android:theme="@style/InstabugTranslucentSdkTheme" android:windowSoftInputMode="adjustResize" />
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.instabug.bug.view.reporting.ReportingContainerActivity" android:theme="@style/InstabugSdkTheme" android:windowSoftInputMode="adjustResize" />
		<activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="com.instabug.chat.ui.ChatActivity" android:theme="@style/InstabugSdkTheme" android:windowSoftInputMode="adjustResize" />
		<activity android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="com.instabug.featuresrequest.ui.FeaturesRequestActivity" android:theme="@style/Theme.AppCompat" android:windowSoftInputMode="adjustResize" />
		<provider android:authorities="to.being.now.applaunch.contentprovider.AppLaunchContentProvider" android:exported="false" android:initOrder="2147483647" android:name="com.instabug.apm.contentprovider.APMContentProvider" />
		<activity android:configChanges="orientation|screenSize" android:name="com.instabug.library.internal.video.RequestPermissionActivity" android:theme="@style/InstabugTranslucentSdkTheme" />
		<activity android:launchMode="singleTask" android:name="com.instabug.library.invocation.invocationdialog.InstabugDialogActivity" android:theme="@style/InstabugTranslucentSdkTheme" />
		<activity android:launchMode="singleTask" android:name="com.instabug.library.ui.onboarding.OnboardingActivity" android:theme="@style/InstabugTranslucentSdkTheme" />
		<provider android:authorities="to.being.now.internal.contentprovider.InstabugContentProvider" android:enabled="true" android:exported="false" android:initOrder="2147483644" android:name="com.instabug.library.internal.contentprovider.InstabugContentProvider" />
		<service android:enabled="true" android:exported="false" android:foregroundServiceType="0x20" android:name="com.instabug.library.internal.video.ScreenRecordingService" />
		<service android:enabled="true" android:exported="false" android:foregroundServiceType="0x20" android:name="com.instabug.library.screenshot.ScreenshotCaptureService" />
		<activity android:name="com.intercom.input.gallery.GalleryInputFullScreenActivity" android:theme="@style/intercom_composer_full_screen_theme" android:windowSoftInputMode="adjustNothing|stateVisible" />
		<activity android:configChanges="density|orientation|screenLayout|screenSize" android:name="com.intercom.input.gallery.GalleryLightBoxActivity" android:theme="@style/intercom_composer_full_screen_theme" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/title_activity_force_change_password" android:name="com.amazonaws.mobile.auth.userpools.ForceChangePasswordActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/title_activity_forgot_password" android:name="com.amazonaws.mobile.auth.userpools.ForgotPasswordActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/title_activity_sign_up" android:name="com.amazonaws.mobile.auth.userpools.SignUpActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/title_activity_mfa" android:name="com.amazonaws.mobile.auth.userpools.MFAActivity" android:screenOrientation="portrait" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/title_activity_sign_up_confirm" android:name="com.amazonaws.mobile.auth.userpools.SignUpConfirmActivity" android:screenOrientation="portrait" />
		<provider android:authorities="to.being.now.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider" />
		<service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
			<meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.functions.FunctionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.ktx.FirebaseDynamicLinksKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
		<activity android:name="com.facebook.CustomTabMainActivity" />
		<service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
			<meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.face.internal.FaceRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
		<service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
			<meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider" />
		</service>
		<meta-data android:name="com.google.android.play.billingclient.version" android:value="3.0.3" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<provider android:authorities="to.being.now.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
			<meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup" />
			<meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup" />
			<meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup" />
			<meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup" />
		</provider>
		<service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" />
		<service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService" />
		<receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" />
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
			<intent-filter>
				<action android:name="android.intent.action.BATTERY_OKAY" />
				<action android:name="android.intent.action.BATTERY_LOW" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
			<intent-filter>
				<action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
				<action android:name="android.intent.action.DEVICE_STORAGE_OK" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
			<intent-filter>
				<action android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
			</intent-filter>
		</receiver>
		<receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
			<intent-filter>
				<action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
			</intent-filter>
		</receiver>
		<service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService" />
		<provider android:authorities="to.being.now.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider" />
		<receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
			<intent-filter>
				<action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED" />
			</intent-filter>
		</receiver>
		<receiver android:exported="false" android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver">
			<intent-filter>
				<action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED" />
			</intent-filter>
		</receiver>
		<activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true" />
		<activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true" />
		<activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent" />
		<service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService">
			<meta-data android:name="com.google.android.play.core.assetpacks.versionCode" android:value="11002" />
		</service>
		<service android:enabled="false" android:exported="false" android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService" />
		<activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.GenericIdpActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="firebase.auth" android:path="/" android:scheme="genericidp" />
			</intent-filter>
		</activity>
		<activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.RecaptchaActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="firebase.auth" android:path="/" android:scheme="recaptcha" />
			</intent-filter>
		</activity>
		<receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</receiver>
		<service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
			<intent-filter android:priority="-500">
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<provider android:authorities="to.being.now.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider" />
		<activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<provider android:authorities="to.being.now.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider" />
		<activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity" />
		<uses-library android:name="androidx.window.extensions" android:required="false" />
		<uses-library android:name="androidx.window.sidecar" android:required="false" />
		<receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver" />
		<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
		<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule" />
		<receiver android:exported="true" android:name="com.smartlook.sdk.smartlook.analytics.receiver.ReferrerReceiver">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<service android:name="com.webengage.sdk.android.ExecutorService" />
		<service android:name="com.webengage.sdk.android.EventLogService" />
		<service android:exported="false" android:name="com.webengage.sdk.android.NotificationClickHandlerService">
			<intent-filter>
				<action android:name="com.webengage.sdk.android.intent.ACTION" />
				<category android:name="to.being.now" />
			</intent-filter>
		</service>
		<activity android:configChanges="orientation|screenSize" android:name="com.webengage.sdk.android.actions.render.WebEngageActivity" android:theme="@android:style/Theme.Translucent" />
		<receiver android:exported="false" android:name="com.webengage.sdk.android.WebEngageReceiver">
			<intent-filter>
				<action android:name="com.webengage.sdk.android.intent.ACTION" />
				<category android:name="to.being.now" />
			</intent-filter>
		</receiver>
		<service android:name="com.webengage.sdk.android.WebEngageJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<activity android:enabled="true" android:excludeFromRecents="true" android:name="com.webengage.sdk.android.WETransparentActivity" android:theme="@style/Theme.Transparent" />
		<activity android:exported="false" android:name="com.batch.android.MessagingActivity" android:theme="@style/com_batchsdk_MessagingActivityTheme" />
		<activity android:exported="false" android:name="com.batch.android.BatchActionActivity" android:theme="@style/com_batchsdk_ActionActivityTheme" />
		<activity android:exported="false" android:name="com.batch.android.debug.BatchDebugActivity" android:theme="@style/com_batchsdk_DebugActivityTheme" />
		<service android:exported="false" android:name="com.batch.android.BatchActionService" />
		<service android:exported="false" android:name="com.batch.android.BatchPushService" />
		<service android:exported="false" android:name="com.batch.android.BatchPushJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<service android:exported="false" android:name="com.batch.android.BatchDisplayReceiptJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<service android:directBootAware="true" android:exported="false" android:name="com.batch.android.eventdispatcher.DispatcherDiscoveryService" />
		<service android:directBootAware="true" android:exported="false" android:name="com.batch.android.push.PushRegistrationDiscoveryService" />
		<receiver android:exported="true" android:name="com.batch.android.BatchPushMessageReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="to.being.now" />
			</intent-filter>
		</receiver>
		<receiver android:exported="false" android:name="com.batch.android.BatchPushMessageDismissReceiver" />
		<activity android:exported="false" android:launchMode="singleTask" android:name="com.amazonaws.mobileconnectors.cognitoauth.activities.CustomTabsManagerActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
			<meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct" />
		</service>
		<service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" />
		<receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
			<intent-filter>
				<action android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
			</intent-filter>
		</receiver>
		<meta-data android:name="com.android.vending.splits.required" android:value="true" />
		<meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store" />
		<meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK" />
		<meta-data android:name="com.android.vending.splits" android:value="@xml/splits0" />
		<meta-data android:name="com.android.vending.derived.apk.id" android:value="2" />
	</application>
</manifest>
